*{font-family: calibri}

body {
  background: #eee !important;
}

a:link{
    text-decoration:none;
    color:#2a5bfd

}

a:visited {
    text-decoration: none;
    color:#2a5bfd
  }

a:hover{
    color:#103ccc
}

  a:active {
    text-decoration: none;
    color:#2a5bfd
  }



.login_window,.register_window{
    max-width: 550px;
    max-height:450px;
    padding: 15px 35px 45px;
    margin: auto;
    margin-top: 5%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.login_window{
  display:flex;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 24px;
}

  .login_header,.register_header {
    margin-bottom: 30px;
    text-align:center;
    font-size:24px;
  }

  .login_email,.register_email {
      padding-top:5%;
    font-size: 16px;
    text-align:center

  }
  
  .login_password,.register_password{
    font-size: 16px;
    padding-top:5%;
    text-align:center
  }

  .login_submit,.register_submit{
      text-align:center;
  }

  .register_name{
    font-size: 16px;
    padding-top:5%;
    text-align:center
  }


  input[type=submit], input[type=button]
  {
    margin-top:5%;
    background-color: #2a5bfd;
    color: white;
    padding: 12px 20px;
    width:100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover, input[type=button]:hover {
    background-color: #103ccc;
  }

  input[type=email]
  {
      font-size:18px;
  }

  input[type=text]{
      font-size:18px
  }

  input[type=password]
  {
      font-size:18px;
  }

  .login_register,.register_login{
    font-size:14px;
    padding-top:2%;
    text-align:center
  }

  .login_window_left,.login_window_right{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

.table_div{
  font-size:18px;
  text-align:center;
  justify-content: center;
  align-items: center;
  display:flex
}

tr,td,th{
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
}

.table_window {
  max-width: 550px;
  max-height:fit-content;
  padding: 15px 35px 45px;
  margin: auto;
  margin-top: 5%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
